/* Phone.css */

.phone-container {
    position: fixed;
    left: 10px; /* Adjust the left position as needed */
    bottom: 50%;
    transform: translateY(50%);
  }
  
  .call-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .call-button img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }
  