@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: relative !important; */
  background-color: #f3fafc;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Navbar Stylings */

.fa-brands:hover {
  transform: scale(0.8);
  color: #61b1d6;
}
.nav-header {
  font-family: "Figtree", sans-serif !important;
}
nav {
  background-color: #f3fafc !important;
  padding: 0 80px !important;
}
nav ul li a {
  padding: 10px 15px !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: #014584 !important;
  font-size: 18px !important;
  line-height: 28px !important;
}
nav ul li {
  margin-left: 4px !important;
}
nav ul li a:hover {
  color: #61b1d6 !important;
  border-bottom: #61b1d6 1.5px solid;
}

.book {
  background: #3a9dcc !important;
  border-radius: 0 !important;
  padding: 10px 14px !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: white !important;
  border: none !important;
}
.book:hover {
  transform: scale(0.8);
}
.book span {
  color: white;
  font-size: 18px !important;
  line-height: 28px !important;
  padding: 2px !important;
}

/* Footer Stylings */
[data-testid="flowbite-footer-brand"] img {
  height: 170px !important;
  /* margin-left: -20px !important; */
}
[data-testid="footer-groupLink"] li a{
  color: white !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
.footer-text{
  font-size: 12px !important;
}
footer li a:hover {
  text-decoration: none !important;
}
footer li {
  margin-right: 0px !important;
}
[data-testid="flowbite-footer-title"] {
text-transform: capitalize !important;
color: white !important;
font-weight: 700 !important;
font-size: 20px !important;
}

footer {
font-family: "Plus Jakarta Sans", sans-serif !important;
color: white !important;
border-radius: 0 !important;
z-index: 40 !important;
}

[data-testid="flowbite-card"] {
border: none !important;
box-shadow: none !important;
}
[data-testid="flowbite-footer-brand"] a {
margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"]{
text-transform: capitalize !important;
color: white !important;
font-weight: 600 !important;
font-size: 19px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
color: white !important;
font-weight: 600 !important;
font-size: 20px !important;
margin-left: 15px !important;
}

footer {
font-family: "Plus Jakarta Sans", sans-serif !important;
color: white !important;
border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
border: none !important;
box-shadow: none !important;
}
[data-testid='flowbite-accordion-content']{
  padding: 0 !important;
}

[data-testid='flowbite-accordion-heading']{
  color: #11263c !important;
}
.fi-bs-check {
  color: #00d100 !important;
  font-size: medium !important;
}
.fi-br-cross-small {
  color: red !important;
  font-size: large !important;
}

/* Carousel Stylings */

[data-testid="carousel-right-control"],
[data-testid="carousel-left-control"] {
  background: none !important;
}
[data-testid="carousel-right-control"] svg,
[data-testid="carousel-left-control"] svg {
  color: #3a9dcc !important;
  height: 30px !important;
  width: 30px !important;
  stroke-width: 3 !important;
}
[data-testid="carousel-right-control"] span,
[data-testid="carousel-left-control"] span {
  background: none !important;
  outline: none !important;
}

.book-page {
  font-family: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.btn-secondary {
  --bs-btn-color: #11263c !important;
  --bs-btn-bg: #e5ecf2;
  --bs-btn-border-color: #e5ecf2;
  --bs-btn-hover-color: #11263c;
  --bs-btn-hover-bg: #e5ecf2;
  --bs-btn-hover-border-color: #e5ecf2;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ced5d8;
  --bs-btn-active-border-color: #ced5d8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-padding-x: 12px;
  --bs-btn-padding-y: 8px;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1.5;
}
select{
  padding: 16px !important;
  border-radius: 6px !important;
  padding-left: 20px !important;
}

#firstName,#lastName,#email,#tel,#base{
  /* width: 350px !important; */
  padding: 15px !important;
  border: 1px solid #BAC0C4 !important;
  border-radius: 4px !important;
  padding-left: 40px !important;
}
input[type='password']{
  width: 350px !important;
  padding: 15px !important;
  border: 1px solid #BAC0C4 !important;
  border-radius: 4px !important;
  padding-left: 40px !important;
}
.btn-light {
  --bs-btn-bg: white;
  --bs-btn-border-color:#ced5d8;
  --bs-btn-hover-bg: rgba(82,97,107,0.6) !important;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211,212,213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgba(82,97,107,0.6);
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}
label{
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}
.form-group label{
  padding-left: 0 !important;
}
.btn-light:hover img{
  opacity: 30% !important;
}
.btn-light:hover{
  background-color: rgba(82,97,107,0.6) !important;
}

#firstName,#lastName,#email,#tel,#base{
  /* width: 350px !important; */
  padding: 15px !important;
  border: 1px solid #BAC0C4 !important;
  border-radius: 4px !important;
  padding-left: 40px !important;
}
#emailid,#passward{
  width: 350px !important;
  padding: 15px !important;
  border: 1px solid #BAC0C4 !important;
  border-radius: 4px !important;
  padding-left: 40px !important;
 
}
input::placeholder{
  font-size: small !important;
  color: #676f748b !important ;
  font-weight: bold;
}


[aria-label='Pills'] button{
  padding: 6px !important;
  background: #3a9dcc !important;
  color: white !important;
}

.fOFptH{
  color: black !important;
}

.jQMQWL{
  width: 100% !important;
  height: auto !important;
}


/* Responsive */

@media (max-width:426px) {
  .btn-secondary {
    --bs-btn-color: #11263c !important;
    --bs-btn-bg: #e5ecf2;
    --bs-btn-border-color: #e5ecf2;
    --bs-btn-hover-color: #11263c;
    --bs-btn-hover-bg: #e5ecf2;
    --bs-btn-hover-border-color: #e5ecf2;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #ced5d8;
    --bs-btn-active-border-color: #ced5d8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 10px;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 1.5;
  }
  .btn-light {
    --bs-btn-padding-x: 52px !important;
    --bs-btn-padding-y: 16px !important;
    width: 150px !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  nav{
    padding: 0 12px !important;
  }
  [data-testid='flowbite-accordion'] button{
    padding: 4px !important;
    background-color: white !important;
    border-radius: 4px !important;
  }
  [data-testid='flowbite-accordion']{
    border: 1px solid black !important;
    background-color: white !important;
    border-radius: 4px !important;
  }
}
@media (min-width:426px) and (max-width:1025px) {

  [data-testid="flowbite-accordion"]{
    border: 1px solid black !important;
  }
  [data-testid="flowbite-accordion"] button{
    border: none !important;
    background-color: white !important;
    border-radius: 4px !important;
    padding: 4px !important;
  }
  [aria-label='Pills'] button{
    padding: 12px !important;
    background: #3a9dcc !important;
    color: white !important;
  }
  [data-testid="flowbite-footer-brand"] img {
    height: 170px !important;
    margin-left: -20px !important;
  }
  footer li a {
    color: white;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  footer li a:hover {
    text-decoration: none !important;
  }
  footer li {
    margin-right: 10px !important;
  }[data-testid="flowbite-footer-brand"] a {
  margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"] {
  text-transform: capitalize !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  margin-left: 15px !important;
}

footer {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: white !important;
  border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
  border: none !important;
  box-shadow: none !important;
}
[data-testid="flowbite-footer-brand"] a {
  margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"] {
  text-transform: capitalize !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  margin-left: 15px !important;
}

footer {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: white !important;
  border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
  border: none !important;
  box-shadow: none !important;
}
.book {
  background: #3a9dcc !important;
  border-radius: 0 !important;
  padding: 6px 15px !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: white !important;
  border: none !important;
}
.book:hover {
  transform: scale(0.8);
}
.book span {
  color: white;
  font-size: 18px !important;
  line-height: 28px !important;
  padding: 2px !important;
}
nav{
  padding: 0 12px !important;
}
}
@media (min-width:1024px) and (max-width:1441px) {
  #firstName,#lastName,#email,#tel,#base{
    /* width: 350px !important; */
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
  }
  .btn-light {
    --bs-btn-padding-x: 22px !important;
    --bs-btn-padding-y: 16px !important;
    width: 110px !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (min-width:1024px) {
 
  #firstName,#lastName,#email,#tel,#base{
    /* width: 350px !important; */
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
  }
 
  nav {
    background-color: #f3fafc !important;
    padding: 0 12px !important;
  }
  nav ul li a {
    padding: 4px 8px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    color: #014584 !important;
    font-size: 16px !important;
    line-height: 28px !important;
  }
  nav ul li {
    margin-left: 4px !important;
  }
  nav ul li a:hover {
    color: #61b1d6 !important;
    border-bottom: #61b1d6 1.5px solid;
  }
  
  .book {
    background: #3a9dcc !important;
    border-radius: 0 !important;
    padding: 8px 10px !important;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    color: white !important;
    border: none !important;
    margin-left: 4px !important;
  }
  .book:hover {
    transform: scale(0.8);
  }
  .book span {
    color: white;
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 2px !important;
  }
  [data-testid="footer-groupLink"] li a{
    color: white !important;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
  footer li a {
    color: white;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  [data-testid='flowbite-accordion'] button{
    padding: 12px !important;
    background-color: white !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width:1025px) and (max-width:2560px) {
  [aria-label='Pills'] button{
    padding: 12px !important;
    background: #3a9dcc !important;
    color: white !important;
  }
  .nav-header {
    font-family: "Figtree", sans-serif !important;
  }

  [data-testid="footer-groupLink"] li a{
    color: white !important;
    font-weight: 400 !important;
    font-size: 18px !important;
  }
}
@media (min-width:1440px) and (max-width:2561px) {
  .btn-light {
    --bs-btn-padding-x: 22px !important;
    --bs-btn-padding-y: 16px !important;
    width: 130px !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  nav {
    background-color: #f3fafc !important;
    padding: 0 80px !important;
  }
  nav ul li a {
    padding: 10px 15px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    color: #014584 !important;
    font-size: 18px !important;
    line-height: 28px !important;
  }
  nav ul li {
    margin-left: 4px !important;
  }
  nav ul li a:hover {
    color: #61b1d6 !important;
    border-bottom: #61b1d6 1.5px solid;
  }
  
  .book {
    background: #3a9dcc !important;
    border-radius: 0 !important;
    padding: 10px 14px !important;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    color: white !important;
    border: none !important;
  }
  .book:hover {
    transform: scale(0.8);
  }
  .book span {
    color: white;
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 2px !important;
  }
  #firstName::placeholder,#lastName::placeholder,#email::placeholder,#tel::placeholder,#base::placeholder,#note::placeholder{
    font-size: 16px !important;
    color: #676f748b !important ;
    font-weight: bold;
  }  
}
@media (min-width:2560px) {

  nav ul li a {
    padding: 12px 15px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    color: #014584 !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }
  nav ul li {
    margin-left: 10px !important;
  }
  nav ul li a:hover {
    color: #61b1d6 !important;
    border-bottom: #61b1d6 1.5px solid;
  }
  
  .book {
    background: #3a9dcc !important;
    border-radius: 0 !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    color: white !important;
    border: none !important;
    margin-left: 20px !important;
  }
  .book:hover {
    transform: scale(0.8);
  }
  .book span {
    color: white;
    font-size: 24px !important;
    line-height: 28px !important;
    padding: 2px !important;
  }
  

  [aria-label='Pills'] button{
    padding: 20px !important;
    background: #3a9dcc !important;
    color: white !important;
  }
  #emailid,#passward{
    width: 700px !important;
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
   
  }
  input::placeholder{
    font-size: medium !important;
    color: #676f748b !important ;
    font-weight: 500 !important;
  
  }
  #firstName::placeholder,#lastName::placeholder,#email::placeholder,#tel::placeholder,#base::placeholder,#note::placeholder{
    font-size: 20px !important;
    color: #676f748b !important ;
    font-weight: bold;
  }  
}

@media  (min-width: 768px) and (max-width:1024px) {
  #emailid,#passward{
    width: 350px !important;
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
   
  }
  input::placeholder{
    font-size: medium !important;
    color: #676f748b !important ;
    font-weight: 500 !important;
  
  }
  nav {
    background-color: #f3fafc !important;
    padding: 0 10px !important;
  }
  nav ul li a {
    padding: 4px 4px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    color: #014584 !important;
    font-size: 12px !important;
    line-height: 28px !important;
  }
  nav ul li a{
    margin-left: 4px !important;
  }
  nav ul li a:hover {
    color: #61b1d6 !important;
    border-bottom: #61b1d6 1.5px solid;
  }
  
  .book {
    background: #3a9dcc !important;
    border-radius: 0 !important;
    padding: 4px 4px !important;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    color: white !important;
    border: none !important;
    margin-left: 4px !important;
  }
  .book:hover {
    transform: scale(0.8);
  }
  .book span {
    color: white;
    font-size: 12px !important;
    line-height: 28px !important;
  }
}
@media (min-width:1025px) and (max-width:1440px){
  #emailid,#passward{
    width: 500px !important;
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
   
  }
  input::placeholder{
    font-size: medium !important;
    color: #676f748b !important ;
    font-weight: 500 !important;
  
  }
}
@media  (min-width: 1441px) and (max-width:2560px) {
  #emailid,#passward{
    width: 500px !important;
    padding: 15px !important;
    border: 1px solid #BAC0C4 !important;
    border-radius: 4px !important;
    padding-left: 40px !important;
   
  }
  input::placeholder{
    font-weight: 500 !important;
    font-size: small !important;
    color: #676f748b !important ;
  }


.fi-ss-angle-down,.fi-ss-angle-right{
  font-weight: bold;
}
.table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: black!important;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: black !important;
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: rgb(164, 161, 161) !important;
}
  footer li a {
    color: white;
    font-weight: 400 !important;
    font-size: 24px !important;
  }
  [data-testid="footer-groupLink"] li a{
    color: white !important;
    font-weight: 400 !important;
    font-size: 24px !important;
  }
  [data-testid="flowbite-footer-title"] {
    text-transform: capitalize !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 32px !important;
  }
  [data-testid="flowbite-footer-brand"] img {
    height: 250px !important;
    /* margin-left: -20px !important; */
  }
}
@media (min-width:768px) and (max-width:1023px) {
  .btn-secondary {
    --bs-btn-color: #11263c !important;
    --bs-btn-bg: #e5ecf2;
    --bs-btn-border-color: #e5ecf2;
    --bs-btn-hover-color: #11263c;
    --bs-btn-hover-bg: #e5ecf2;
    --bs-btn-hover-border-color: #e5ecf2;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #ced5d8;
    --bs-btn-active-border-color: #ced5d8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 12px;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 20px;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 1.5;
  }
  .btn-light{
    --bs-btn-padding-x: 52px !important;
    --bs-btn-padding-y: 16px !important;
    width: 180px !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}