@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: relative !important; */
  background-color: #f3fafc;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Navbar Stylings */

.fa-brands:hover {
  transform: scale(0.8);
  color: #61b1d6;
}

.nav-header {
  font-family: "Figtree", sans-serif !important;
}
nav {
  background-color: #f3fafc !important;
  padding: 0 80px !important;
}
nav ul li a {
  padding: 10px 15px !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: #014584 !important;
  font-size: 18px !important;
  line-height: 28px !important;
}
nav ul li {
  margin-left: 4px !important;
}
nav ul li a:hover {
  color: #61b1d6 !important;
  border-bottom: #61b1d6 1.5px solid;
}

.book {
  background: #3a9dcc !important;
  border-radius: 0 !important;
  padding: 10px 14px !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: white !important;
  border: none !important;
}
.book:hover {
  transform: scale(0.8);
}
.book span {
  color: white;
  font-size: 18px !important;
  line-height: 28px !important;
  padding: 2px !important;
}

/* Footer Stylings */
[data-testid="flowbite-footer-brand"] img {
  height: 170px !important;
  /* margin-left: -20px !important; */
}
[data-testid="footer-groupLink"] li a{
  color: white !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
.footer-text{
  font-size: 12px !important;
}
footer li a:hover {
  text-decoration: none !important;
}
footer li {
  margin-right: 0px !important;
}
[data-testid="flowbite-footer-title"] {
text-transform: capitalize !important;
color: white !important;
font-weight: 700 !important;
font-size: 20px !important;
}

footer {
font-family: "Plus Jakarta Sans", sans-serif !important;
color: white !important;
border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
border: none !important;
box-shadow: none !important;
}
[data-testid="flowbite-footer-brand"] a {
margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"]{
text-transform: capitalize !important;
color: white !important;
font-weight: 600 !important;
font-size: 19px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
color: white !important;
font-weight: 600 !important;
font-size: 20px !important;
margin-left: 15px !important;
}

footer {
font-family: "Plus Jakarta Sans", sans-serif !important;
color: white !important;
border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
border: none !important;
box-shadow: none !important;
}

.fi-bs-check {
  color: #00d100 !important;
  font-size: medium !important;
}
.fi-br-cross-small {
  color: red !important;
  font-size: large !important;
}

/* Carousel Stylings */

[data-testid="carousel-right-control"],
[data-testid="carousel-left-control"] {
  background: none !important;
}
[data-testid="carousel-right-control"] svg,
[data-testid="carousel-left-control"] svg {
  color: #3a9dcc !important;
  height: 30px !important;
  width: 30px !important;
  stroke-width: 3 !important;
}
[data-testid="carousel-right-control"] span,
[data-testid="carousel-left-control"] span {
  background: none !important;
  outline: none !important;
}

.book-page {
  font-family: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.btn-secondary {
  --bs-btn-color: #11263c !important;
  --bs-btn-bg: #e5ecf2;
  --bs-btn-border-color: #e5ecf2;
  --bs-btn-hover-color: #11263c;
  --bs-btn-hover-bg: #e5ecf2;
  --bs-btn-hover-border-color: #e5ecf2;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ced5d8;
  --bs-btn-active-border-color: #ced5d8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-padding-x: 12px;
  --bs-btn-padding-y: 8px;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
}
select{
  padding: 16px !important;
  border-radius: 6px !important;
  padding-left: 20px !important;
}
.btn-light {
  --bs-btn-bg: white;
  --bs-btn-border-color:#ced5d8;
  --bs-btn-hover-bg: rgba(82,97,107,0.6) !important;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211,212,213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgba(82,97,107,0.6);
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}
label{
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}
.btn-light:hover img{
  opacity: 30% !important;
}
.btn-light:hover{
  background-color: rgba(82,97,107,0.6) !important;
}

input[type='text'],input[type='email'],input[type='tel']{
  padding: 10px !important;
  border-radius: 4px !important;
  padding-left: 20px !important;
}
input::placeholder{
  font-size: small !important;
}


/* Responsive */
@media (min-width:426px) and (max-width:2560px) {
  [data-testid="flowbite-footer-brand"] img {
    height: 170px !important;
    margin-left: -20px !important;
  }
  footer li a {
    color: white;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  footer li a:hover {
    text-decoration: none !important;
  }
  footer li {
    margin-right: 10px !important;
  }[data-testid="flowbite-footer-brand"] a {
  margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"] {
  text-transform: capitalize !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  margin-left: 15px !important;
}

footer {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: white !important;
  border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
  border: none !important;
  box-shadow: none !important;
}
[data-testid="flowbite-footer-brand"] a {
  margin-top: 16px !important;
}
[data-testid="flowbite-footer-title"] {
  text-transform: capitalize !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}
[data-testid="flowbite-footer-icon"] a svg {
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  margin-left: 15px !important;
}

footer {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: white !important;
  border-radius: 0 !important;
}

[data-testid="flowbite-card"] {
  border: none !important;
  box-shadow: none !important;
}
.book {
  background: #3a9dcc !important;
  border-radius: 0 !important;
  padding: 6px 15px !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: white !important;
  border: none !important;
}
.book:hover {
  transform: scale(0.8);
}
.book span {
  color: white;
  font-size: 18px !important;
  line-height: 28px !important;
  padding: 2px !important;
}
}
